httpx
python-multipart
psycopg2-binary
make

#python libraries
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sentence-transformers
torch
streamlit

#providers
groq
pinecone
supabase

#langchain dependencies
langchain
langchain-huggingface
langchain-pinecone
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-community