assemblyai==0.44.3
langchain-community
langchain-groq
langgraph
langchain-huggingface
vapi-server-sdk

# RAG Application Dependencies (Simplified)
langchain>=0.1.0
langchain-text-splitters
scikit-learn
numpy
pandas
tqdm
python-dotenv    
sentence-transformers
streamlit
langgraph-checkpoint-sqlite
supabase

# system
make
flake8